---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import ProblemAgitation from '../components/home/ProblemAgitation.astro';
import Solution from '../components/home/Solution.astro';
import CTA from '../components/home/CTA.astro';
---

<Layout title="Ingeniería en Cancún | Software a Medida y SEO Local">
  <main>
    <Hero />
    <ProblemAgitation />
    <Solution />
    <CTA />
  </main>
</Layout>
